.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    position:fixed;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    color: white;
    
}
.content-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar{
    background-color: transparent;
    width: 300px;
    height: 20px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-link{
    width: 40px;
    height: 15px;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: 000;
    background-color: #d9dcfb;
    padding: 5px;
    border-radius: 15px;
    color: black;
}
.name{
    width: 200px;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: start;
}
.name a{
    text-decoration: none;
    color: white;
}

.name h2{
    margin-left: 25px;
}

.container-image{
    position: relative;
    width: 250px; 
    height: 250px; 
}

.logo-i{
    width: 250px;
    position: absolute;
    animation: subirDescer 2s infinite alternate;
}

@keyframes subirDescer {
    0% {
      top: 0;
    }
    100% {
      top: 50px; /* Ajuste de acordo com a distância que deseja que a imagem suba e desça */
    }
  }

.content-start{
    width: 100vw;
    height: 500px;
    background-color: #d9dcfb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.name-loja{
    font-size: 3rem;
}

.content-sobre{
    background-color: #f0f2ff;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.text-area{
    margin: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.img-p{
    width:180px;
    margin: 10px;
    border-radius: 10px;
}
.division-section{
    background-color: #d9dcfb;
    width: 100vw;
    height: 60px;
}

.content-delivery
{
    background-color: #f0f2ff;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}